{% extends 'admin.base.html.twig' %}

{% block title %}Modification d'un projet
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1 class="text-light mt-3" style="text-align:center">Modification d'un projet</h1><hr>


		{{ include('admin/projet/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


		<a class="btn btn-secondary mt-3 fw-bolder" href="{{ path('projet_index') }}">Retour</a>


		<div>

		{% endblock %}
