<h1>Message de
	{{ contact.nom }}
</h1>

<p>
	<b>Email :</b>
	{{contact.email }}</p>


<p>
	<b>Message :</b><br><br>
	{{contact.message|nl2br }}</p>


<br><br>

<p>
	<i>Message envoyé depuis www.mrgrowl.fr</i>
</p>
