<form method="post" action="{{ path('technologie_delete', {'id': technologie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ technologie.id) }}">
	<button class="btn btn-danger mt-3 ms-3 fw-bolder">SUPPRIMER</button>
</form>
