{% extends 'base.html.twig' %}

{% block title %}mrgrowl.com
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	<script src="https://cdn.jsdelivr.net/npm/typelighterjs/typelighter.min.js"></script>
{% endblock %}


{% block body %}
	<div class="container-fluid">
		<div class="row" style="margin-top: 5%;">
			<div class="">
				<h1 class="text-center">Bienvenue sur le site de mrgrowl</h1>


			</div>
		</div>

		<div class="row mt-5">
			<div class="">
				<p class="text-center fs-5">Étudiant en informatique, vous retrouverez répertorié ici mes différents projets.
				</p>
			</div>
		</div>

		<div class="text-center" style="margin-top: 3%;">
			<a href="{{ path('projects_user') }}" class="btn btn-secondary me-3 fw-bolder">VOIR MES PROJETS</a>
			<a href="{{ path('member_contact') }}" class="btn btn-secondary ms-3 fw-bolder">ME CONTACTER</a>
		</div>

		<hr class="mt-4">

		<div class="mt-5">
			<h5 class="text-center">Compétences :</h5>
			<h2 class="text-center fs-5 mt-4">
				<span class="text-danger typeWriter" data-text='["PHP<br> Symfony<br> Java<br> JavaScript<br> HTML5<br> CSS<br> SQL<br>..."]' id="txtAnim"></span>
			</h2>
		</div>

	</div>

{% endblock %}
